{% extends "base.html" %}
{% load mezzanine_tags keyword_tags staticfiles %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
    {% keywords_for page as keywords %}
    {% for keyword in keywords %}
        {% if not forloop.first %}, {% endif %}
        {{ keyword }}
    {% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
    {{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
    {% editable page.title %}{{ page.title }}{% endeditable %}
{% endblock %}

{% block main %}
    <form id="custom_form" action="" method="post">
    {% csrf_token %}
        <ul class="list-unstyled">
            {% for question in page.get_content_model.question.all %}
                <li class="question">
                    {{ question.question }}
                    <label class="radio-inline">
                        <input class="required" type="radio" name="inlineRadioOptions_{{ question.id }}" id="inlineRadio1" value="yes"> Yes
                    </label>
                    <label class="radio-inline">
                        <input class="required" type="radio" name="inlineRadioOptions_{{ question.id }}" id="inlineRadio1" value="no"> No
                    </label>
                </li>
            {% endfor %}
        </ul>
        <input type="hidden" name="count_yes" id="count_yes"/>
        <input class="btn btn-default" type="submit" value="Calculate">
        <input class="btn btn-default" type="reset" value="Reset">
    </form>
{% endblock %}
{% block js %}
    <script>
    $(document).ready( function () {
        $('#custom_form').on('submit', function(e) {
            e.preventDefault();
            var a = 0;
            var b = 0;
            var c = 0;
            var d = 0;
            $('.question').each(function (i, e){

                $(e).find( 'input[type=\"radio\"]').each(function (i, e) {

                    b++;
                    if ($(e).prop('checked') == false && b == 1) {
                        a++;
                    }
                    else if ($(e).prop('checked') == false && b == 2 && a == 1) {
                        $(e).parent().parent().addClass("text-danger");
                        b = 0;
                        a = 0

                    }
                    if (b == 2) {
                        $(e).parent().parent().removeClass("text-danger");
                        b = 0;
                        a = 0;
                        c++;

                    }
                    if ($(e).prop('checked') == true && $(e).val() == 'yes') {
                        d++
                    }
                    if (c == $('.question').length) {
                        $('#count_yes').val(d);
                        $('#custom_form').unbind('submit').submit()
                    }
                })
            })
        })
    })
    </script>

{% endblock %}