{% extends "base.html" %}
{% load mezzanine_tags keyword_tags staticfiles %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
    {% keywords_for page as keywords %}
    {% for keyword in keywords %}
        {% if not forloop.first %}, {% endif %}
        {{ keyword }}
    {% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
    {{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
    {% editable page.title %}{{ page.title }}{% endeditable %}
{% endblock %}

{% block main %}
    <form id="custom_form" action="" method="post">
        {% csrf_token %}
        <ul class="list-unstyled">
            {% for question in page.get_content_model.select.all %}
                <li>
                    {{ question.question }}
                    <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </li>
                <br/>
            {% endfor %}
            <li  class="question">
                Do you answered all questions?
                <label class="radio-inline">
                    <input class="required" type="radio" name="inlineRadioOptions_{{ question.id }}" id="inlineRadio1" value="yes"> Yes
                </label>
                <label class="radio-inline">
                    <input class="required" type="radio" name="inlineRadioOptions_{{ question.id }}" id="inlineRadio1" value="no"> No
                </label>
            </li>
        </ul>
        <input type="hidden" name="count" id="count"/>
        <input class="btn btn-default" type="submit" value="Calculate">
        <input class="btn btn-default" type="reset" value="Reset">
    </form>
{% endblock %}
{% block js %}
    <script>
        $(document).ready( function () {
            $('#custom_form').on('submit', function(e) {
                e.preventDefault();
                var d = 0;
                if (!$('#inlineRadio1').prop('checked')){
                    $('#inlineRadio1').parent().parent().addClass('text-danger')
                }
                else {
                    $('select').each(function (i, e){
                        d = d + parseInt($(e).val());
                    });
                    $('#count').val(d);
                    $('#custom_form').unbind('submit').submit()

                }
            })
        })
    </script>

{% endblock %}